{% extends 'base.html.twig' %}

{% block title %}Lista de Productos{% endblock %}

{% block body %}
    <header>
        <h1 class="title">Esta es la lista de productos</h1>
        <button class="btn-light">Ver más</button>
    </header>
{% endblock %}
